:javascript
  $(function () {
    $('.carousel').carousel({
      interval: 5000, 
    });
  });
.container
  .row
    .span12
      %h1.title Lonesome Giant
      <div class="fb-like" data-href="http://facebook.com/lonesomegiant" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div> 

  .row
    .span12
      #mainCarousel.carousel.slide
        .carousel-inner
          - Dir['public/bandpics/*'].each_with_index do |fname, idx|
            .item(class="#{idx == 0 ? 'active' : nil}")
              %img(src="/#{fname.gsub('public/', '')}")
        <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
  .row 
    .span4
      = render "music"
    .span8
      = render "watch"
