/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family:  Verdana, Geneva, sans-serif;
}
.about {
  font-size: 120%;
  line-height: 150%;
  text-align: justify;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}
.title h1 {
  display: inline;
  margin-right: 20px;
  font-size: 5em;
  line-height: 1em;
}
.title .fb {
  display: inline-block;
  vertical-align: 100%;
}
.title .fb img {
  margin-right: 10px;
}

.item {
  overflow:hidden;
  width: 100%;
  height: 400px;
}
.item img {
  position: relative;
  z-index: 0;
} 
